In [142]:
import numpy as np

import pandas as pd

from keras.models import Sequential

from keras.layers import Dense, Embedding, LSTM, SpatialDropout1D

from sklearn.model_selection import train_test_split

from sklearn.feature_extraction.text import CountVectorizer

from keras.preprocessing.text import Tokenizer

from keras.preprocessing.sequence import pad_sequences

from keras.utils.np_utils import to_categorical

import re

df = pd.read_csv("Train.csv")

In [130]:
df.head()

                                                text  label
0  I grew up (b. 1965) watching and loving the Th...      0
1  When I put this movie in my DVD player, and sa...      0
2  Why do people who do not know what a particula...      0
3  Even though I have great interest in Biblical ...      0
4  Im a die hard Dads Army fan and nothing will e...      1

In [131]:
df['text'] = df['text'].str.lower()

In [132]:
import string
def remove_punct(text):
    text ="".join([char for char in text if char not in string.punctuation])
    return text
df['text'] = df['text'].apply(lambda x: remove_punct(x))
df.head()

                                                text  label
0  i grew up b 1965 watching and loving the thund...      0
1  when i put this movie in my dvd player and sat...      0
2  why do people who do not know what a particula...      0
3  even though i have great interest in biblical ...      0
4  im a die hard dads army fan and nothing will e...      1

In [133]:
def tokenize(text):
    tokens =re.split('\W+',text)
    return tokens
df['text']=df['text'].apply(lambda x: tokenize(x))

In [134]:
df.head()

                                                text  label
0  [i, grew, up, b, 1965, watching, and, loving, ...      0
1  [when, i, put, this, movie, in, my, dvd, playe...      0
2  [why, do, people, who, do, not, know, what, a,...      0
3  [even, though, i, have, great, interest, in, b...      0
4  [im, a, die, hard, dads, army, fan, and, nothi...      1

In [135]:
import nltk

In [136]:
stopwords=nltk.corpus.stopwords.words('english')

In [137]:
def remove_stop(tokenized_text):
    rext=[word for word in tokenized_text if word not in stopwords]
    return rext

In [138]:
df['text']=df['text'].apply(lambda x:remove_stop(x))
df.head()

                                                text  label
0  [grew, b, 1965, watching, loving, thunderbirds...      0
1  [put, movie, dvd, player, sat, coke, chips, ex...      0
2  [people, know, particular, time, past, like, f...      0
3  [even, though, great, interest, biblical, movi...      0
4  [im, die, hard, dads, army, fan, nothing, ever...      1

In [139]:
tokenizer = Tokenizer()
tokenizer.fit_on_texts(df['text'])

In [140]:
X_train_seq = tokenizer.texts_to_sequences(df['text'])

In [141]:
X_train_seq[0]

[1979,
 837,
 8778,
 57,
 1691,
 8779,
 5744,
 271,
 174,
 149,
 8779,
 271,
 5881,
 271,
 341,
 17353,
 989,
 4,
 341,
 1644,
 8145,
 522,
 742,
 427,
 702,
 416,
 367,
 11,
 2,
 1238,
 8,
 15,
 2928,
 303,
 432,
 12600,
 1222,
 214,
 125,
 7786,
 651,
 2945,
 26,
 1426,
 112,
 448,
 8779,
 2293,
 287,
 2163,
 22314,
 4,
 586,
 1082,
 46,
 185,
 5573,
 110,
 12601,
 2400,
 226,
 926,
 73010,
 27151,
 464,
 581,
 2890,
 212,
 219,
 4470,
 330,
 3,
 1832,
 1784,
 1459,
 885,
 101,
 3261,
 9360,
 40609,
 17861,
 30889,
 73011,
 30889,
 493,
 6064,
 5787]

In [79]:
X_train_seq_padded = pad_sequences(X_train_seq, 50)

In [80]:
X_train_seq_padded[0]

array([  214,   125,  7786,   651,  2945,    26,  1426,   112,   448,
        8779,  2293,   287,  2163, 22314,     4,   586,  1082,    46,
         185,  5573,   110, 12601,  2400,   226,   926, 73010, 27151,
         464,   581,  2890,   212,   219,  4470,   330,     3,  1832,
        1784,  1459,   885,   101,  3261,  9360, 40609, 17861, 30889,
       73011, 30889,   493,  6064,  5787])

In [83]:
# Import the tools needed from keras and define functions to calculate recall and precision
import keras.backend as K
from keras.layers import Dense, Embedding, LSTM
from keras.models import Sequential

def recall_m(y_true, y_pred):
        true_positives = K.sum(K.round(K.clip(y_true * y_pred, 0, 1)))
        possible_positives = K.sum(K.round(K.clip(y_true, 0, 1)))
        recall = true_positives / (possible_positives + K.epsilon())
        return recall

def precision_m(y_true, y_pred):
        true_positives = K.sum(K.round(K.clip(y_true * y_pred, 0, 1)))
        predicted_positives = K.sum(K.round(K.clip(y_pred, 0, 1)))
        precision = true_positives / (predicted_positives + K.epsilon())
        return precision

In [84]:
model = Sequential()

model.add(Embedding(len(tokenizer.index_word)+1, 32))
model.add(LSTM(32, dropout=0, recurrent_dropout=0))
model.add(Dense(32, activation='relu'))
model.add(Dense(1, activation='sigmoid'))
model.summary()

Model: "sequential_5"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
embedding_4 (Embedding)      (None, None, 32)          5093184
_________________________________________________________________
lstm_4 (LSTM)                (None, 32)                8320
_________________________________________________________________
dense_4 (Dense)              (None, 32)                1056
_________________________________________________________________
dense_5 (Dense)              (None, 1)                 33
=================================================================
Total params: 5,102,593
Trainable params: 5,102,593
Non-trainable params: 0
_________________________________________________________________

In [88]:
# Compile the model
model.compile(optimizer='adam',
              loss='binary_crossentropy',
              metrics=['accuracy', precision_m, recall_m])

In [89]:
# Fit the RNN model
history = model.fit(X_train_seq_padded, df['label'], 
                    batch_size=32, epochs=5)

Epoch 1/5
1250/1250 [==============================] - 102s 79ms/step - loss: 0.1359 - accuracy: 0.9526 - precision_m: 0.9505 - recall_m: 0.9555
Epoch 2/5
1250/1250 [==============================] - 97s 78ms/step - loss: 0.0560 - accuracy: 0.9822 - precision_m: 0.9813 - recall_m: 0.9828
Epoch 3/5
1250/1250 [==============================] - 99s 79ms/step - loss: 0.0245 - accuracy: 0.9925 - precision_m: 0.9917 - recall_m: 0.9936
Epoch 4/5
1250/1250 [==============================] - 97s 77ms/step - loss: 0.0129 - accuracy: 0.9957 - precision_m: 0.9951 - recall_m: 0.9962
Epoch 5/5
1250/1250 [==============================] - 95s 76ms/step - loss: 0.0108 - accuracy: 0.9966 - precision_m: 0.9965 - recall_m: 0.9967

In [108]:
df1 = pd.read_csv("Test.csv")
df1.head()

                                                text  label
0  I always wrote this series off as being a comp...      0
1  1st watched 12/7/2002 - 3 out of 10(Dir-Steve ...      0
2  This movie was so poorly written and directed ...      0
3  The most interesting thing about Miryang (Secr...      1
4  when i first read about "berlin am meer" i did...      0

In [109]:
df1['text'] = df1['text'].str.lower()
df1.head()

                                                text  label
0  i always wrote this series off as being a comp...      0
1  1st watched 12/7/2002 - 3 out of 10(dir-steve ...      0
2  this movie was so poorly written and directed ...      0
3  the most interesting thing about miryang (secr...      1
4  when i first read about "berlin am meer" i did...      0

In [110]:
def remove_punct(text):
    text ="".join([char for char in text if char not in string.punctuation])
    return text
df1['text'] = df1['text'].apply(lambda x: remove_punct(x))
df1.head()

                                                text  label
0  i always wrote this series off as being a comp...      0
1  1st watched 1272002  3 out of 10dirsteve purce...      0
2  this movie was so poorly written and directed ...      0
3  the most interesting thing about miryang secre...      1
4  when i first read about berlin am meer i didnt...      0

In [112]:
def tokenize(text):
    tokens =re.split('\W+',text)
    return tokens
df1['text']=df1['text'].apply(lambda x: tokenize(x))

In [117]:
df1['text'].head()

0    [i, always, wrote, this, series, off, as, bein...
1    [1st, watched, 1272002, 3, out, of, 10dirsteve...
2    [this, movie, was, so, poorly, written, and, d...
3    [the, most, interesting, thing, about, miryang...
4    [when, i, first, read, about, berlin, am, meer...
Name: text, dtype: object

In [128]:
history = model.fit(X_train_seq_padded, df['label'], 
                    batch_size=32, epochs=5,
                    validation_data=(df1['text'],df1['label']))

Epoch 1/5
1250/1250 [==============================] - ETA: 0s - loss: 0.0114 - accuracy: 0.9962 - precision_m: 0.9958 - recall_m: 0.9964- ETA: 7s - loss: 0.0113 - accuracy: 0.9962 - pr - ETA: 0s - loss: 0.0114 - accuracy: 0.9961 - precision_m: 0.9958 - recall_m: 0.996

ValueError: Failed to convert a NumPy array to a Tensor (Unsupported object type list).